@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
body,button,ul,li,div{
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
}
h1 {    
    font-size: 58px;
    text-align: center;
}
h2 {
    font-size: 48px;
    margin-left: 35px;
}
.div1 > div > ul {
    background: #efeeee;
    border-radius: 24px;
    padding: 34px;
    margin-bottom: 16px;
    list-style: none;
}
li>div {
    border-radius: 15px;
    margin: 11px;
    padding: 3px 17px;
    background: white;
    font-size: 24px;
}

input, button {
    border-radius: 9px;
    padding: 6px;
    font-size: 19px;
}
button {
    font-weight: 700;
    margin: 0px 7px;
    padding: 11px;
    border: none;
}
.div1 {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.div2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.div2 > ul {
    border-radius: 24px;
    padding: 34px;
    margin-bottom: 16px;
    list-style: none;

}