@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
body,button,ul,li,div{
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(https://lh3.googleusercontent.com/pw/AL9nZEUeAChmu7EUJ2QpQQNS-zKfXD_ByzewkkwvQP3vDQYIzz6pcGK5IQRPXl9VY6OuVlC48fJ--sJCf3VVGQ5hGONZ-WNMejnP_qPNfKzFnMS8ily3Hm0HTRJmUZ1pnW2x9vjSOtv7yF2EqnvHkGZ08wMs=w938-h625-no?authuser=0);
    background-size: cover;
    display: flex;
    flex-direction: row;
    background-attachment: fixed;
}
aside {
    width: 15%;
}
.div3 {
    width: 70%;

}
h1 {      
    color: white; 
    margin: 0px;
    font-size: 58px;
    text-align: center;
    margin-top: 6vh;
}
h2 {
    color: white;
    margin: 0px;
    font-size: 48px;
    text-align: center;
    margin-top: 6vh;

}
.div1 > div > ul {
    background: #07241485;
    border-radius: 24px;
    padding: 34px;
    margin-bottom: 16px;
    list-style: none;
}
li>div {
    border-radius: 15px;
    margin: 11px;
    padding: 3px 17px;
    background: white;
    font-size: 20px;
}

input, button {
    border-radius: 9px;
    padding: 10px 19px;
    font-size: 19px;
}
button {
    color: white;
    font-weight: 700;
    margin: 0px 7px;
    padding: 11px;
    border: none;
}
.btn-start {
    background: #08d978;
}
.btn-start:hover {
    background: #00f080;
}
.btn-stop {
    background: #ff0000ba;
}
.btn-stop:hover {
    background: #ff0000db;
}
.btn-info {
    margin-top: 3vh;
    background: no-repeat;
}

.div1 {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.div2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.div2 > ul {
    background: #07241485;
    border-radius: 24px;
    padding: 34px;
    margin-bottom: 16px;
    list-style: none;

}
.logo {
    width: 14%;
    margin-top: 6vh;
}